@import url('./css/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
  --FuentePrincipal: 'Karla', sans-serif;
}
body{
  font-family: var(--FuentePrincipal);
  height: 100vh;
}